/* Your custom styles */

/*FONTS FONTS FONTS*/
/*font-family: 'Montserrat', sans-serif;*/

/*FONTS FONTS FONTS*/
/* body{
  background-color: #EAEBED;
} */

.body{
  font-family: 'Montserrat', sans-serif;
  color: #1C77C3;
  background-color: #EAEBED;
  min-height: 100vh;
  padding-bottom: 1rem;
}

.title{
  background-color: #1C77C3;
  color: #EAEBED;
}

.selection-img{
  height: 15vh;
  width: auto;
}

/*LOGIN LOGIN LOGIN LOGIN*/

.body-login{
  font-family: 'Montserrat', sans-serif;
  color: #1C77C3;
  background-image: url("../img/branding/in-a-rush.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.dim-login{
  position: absolute;
  background-color: #000;
  opacity: .4;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.content-login{
  color: #EAEBED;
  z-index: 10;
}

/*LOGIN LOGIN LOGIN LOGIN SIGNUP SIGNUP SIGNUP SIGNUP*/

.form-dark .font-small {
  font-size: 0.8rem; }

.form-dark .md-form label {
  color: #fff; }

.form-dark input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #1C77C3;
  -webkit-box-shadow: 0 1px 0 0 #1C77C3;
  box-shadow: 0 1px 0 0 #1C77C3; }

.form-dark input[type=text]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #1C77C3;
  -webkit-box-shadow: 0 1px 0 0 #1C77C3;
  box-shadow: 0 1px 0 0 #1C77C3; }

.form-dark input[type=password]:focus:not([readonly]) + label {
  color: #fff; }

.card-content{
  flex-grow: 2;
  height: 100vh;
}

.card-image{
  background-image: url("../img/branding/in-a-rush.jpg");
  flex-grow: 2;
  height: 100vh;
}

/*PROFILE PROFILE PROFILE PROFILE*/

.profile-img{
  height: 10vh;
  width: auto;
}

.badge-img{
  max-width: 20vw;
  height: auto;
  margin-bottom: .5rem;
}


/*Schedule Dashboard Schedule Dashboard*/

.schedule-content{
  margin-bottom: 3.5rem;
}

.scheduleTile{
  background-color: #13293D;
  color: gray;
}

.tiles{
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #F0A202;
}

.schedule-card{
  width: 20vh;
  height: 15vh;
  margin-right: .7rem;
  margin-left: .7rem;
  border-radius: 0;
  background-color: #13293D;
  background-image: url('../img/branding/schedule-background-orange.svg');
  background-size: 20% 20%;
  background-repeat: no-repeat;
  background-position: 5% 90%;
  overflow: hidden;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(122,121,122,0.66);
  -moz-box-shadow: 3px 3px 5px 0px rgba(122,121,122,0.66);
  box-shadow: 3px 3px 5px 0px rgba(122,121,122,0.66);
}

.schedule-card-content{
  color: #EAEBED
}

/*CREATE/EDIT DASHBOARD*/

.item-section{
  padding-bottom: 5rem;
  /* margin-top: 9rem; */
}

/* .buffer{
  height: 5rem;
  background-color:
} */

.top-dash{
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #EAEBED;
  z-index: 10;
}

.create-modal-header{
  background-color: #F0A202 !important;
}

/*COMMON STYLING COMMON STYLING*/

/*highlight font with orange:*/

.orange-highlight-text{
  color: #F0A202
}

.orange-highlight-bg{
  background-color: #F0A202;
}

/*COMMON COMPONENTS COMMON COMPONENTS*/

.dash-header{
  width: 100vw;
  background-color: #F0A202;
  color: #1C77C3
}

.dash-header-content{
  flex-grow: 2;
}

.ScheduleDashboard{
  color: #1C77C3;
  background-color: #D3D4D9;

}

.footer-container{
  background-color: #F0A202;
  color: #13293D;
  position: fixed;
  bottom: -1px;
  width: 100vw;
}

.footer-container h4{
  color: #13293D;
}

.footer-icon{
  max-height: 5vh;
}

.plan-item{
  background-color: #13293D;
  color: #EAEBED;
  width: 90vw;
}

.item-name{
  font-size: .8rem;
}

.md-form input{
  color: #13293D;
  text-align: center;
}

.edit-img{
  height: 5vh;
  width: auto;
}

.order-img{
  height: 3vh;
  width: auto;
}

.skippable-img{
  height: 5vh;
  width: auto;
}

.day{
  color: #13293D;
  font-size: .9rem;
  text-align: center;
  padding-top: .25rem;
  background-color: #EAEBED;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  border: 1px solid #13293D;
}

.active-day{
  color: #fff;
  font-size: .9rem;
  text-align: center;
  padding-top: .25rem;
  background-color: #13293D;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  border: solid 1px #13293D;
}

.next-btn{
  color: #13293D;
}

.add-btn-contain{
  position: fixed;
  bottom: 5.5rem;
  right: 1rem;
}

.add-btn{
  background-color: green;
}

/*HEADER HEADER HEADER*/

.nav-hamburger{
  height: 5vh;
  width: auto;
}

.logo{
  height: 8vh;
  width: auto;
}

.head-title{
  color: #13293D;
}

/* NAVIGATION NAVIGATION NAVIGATION */

.navigation{
  position: fixed;
  /* right: 100%; */
  width: 85vw;
  height: 100vh;
  background-color: #1C77C3;

}

.nav-top{
  background-image: url("../img/branding/navigation-img.jpg");
  background-size: cover;
  height: 30vh;
  opacity: .65;
}

.nav-title{
  color: #EAEBED;
}

.close-img{
  height: 4vh;
  width: auto;
}

.nav-img{
  height: 4vh;
  width: auto;
}

.nav-footer{
  position: fixed;
  bottom: 0;
  width: 85vw;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1C77C3;
    overflow-x: hidden;
    transition: 0.5s;

}

/* UPCOMINGWEEK UPCOMINGWEEK UPCOMINGWEEK */

.upcoming-content{
  height: 75vh;
}

.upcoming-day-circle{
  color: #fff;
  font-size: .9rem;
  text-align: center;
  padding-top: .25rem;
  background-color: #13293D;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  border: #13293D;
}

.upcoming-day-name{
  color: #13293D;
}

.snooze-btn{
  color: #EAEBED;
  background-color: #F0A202;
  font-size: .8rem;
  height: 1.5rem;
}

.upcoming-footnote{
  width: 100vw;
  text-align: center;
}

/*loading spinner*/

.loading {
  height: 25vh;
  width: auto;
	-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

/*switch formatting*/

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #F0A202 !important;
}
